.main-content(style="min-height:0")
    h2 {{ print.title }}
    p.crumbs
        a(href="/") Home
        span >
        a(href="#prints") Prints
        span >
        span {{ print.title }}
#infoWrapper
    .printInfo
        .printImage
            img(src="img/printImg/{{ print.img }}")
        h3 {{ price | currency :"sek" : 2 }}
        form(ng-submit="addToCart(material, size, price)")
            select.select-style(
            ng-model="material"
            ng-change="setPrice(material, size)"
            ng-required=""
            ng-options="material.name as material.name for material in materials"
            )
            br
            select(
            ng-model="size"
            ng-change="setPrice(material, size)"
            ng-required=""
            ng-options="size.size as size.size for size in sizes | filter : {format: print.ratio} : true"
            )
            br
            button.btn Add to cart


